[requires]
python_version = "3.6"

[packages]
pymongo = "==3.12.0"
falcon = "==3.0.1"
falcon-auth = "==1.1.0"
PyJWT = "==1.7.1"
Jinja2 = "==3.0.1"
PyYAML = "==5.4.1"
urllib3 = "==1.26.6"
tinydb = "==4.5.1"
pathlib = "==1.0.1"
click = "==8.0.1"
ldap3 = "==2.9.1"
prometheus-client = "==0.11.0"
python-dateutil = "==2.8.2"
netifaces = "==0.11.0"
pyparsing = "==2.4.7"
waitress = "==2.0.0"
certifi = "==2021.5.30"
charset-normalizer = "==2.0.4"
idna = "==3.2"
importlib-metadata = "==4.6.4"
pyasn1 = "==0.4.8"
requests = "==2.26.0"
six = "==1.16.0"
typing-extensions = "==3.10.0.0"
zipp = "==3.5.0"
requests-unixsocket = "==0.2.0"
MarkupSafe = "==2.0.1"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-data = "*"
pytest-mongodb = "*"
pytest-spec = "*"
python-mimeparse = "*"
pytest-sugar = "*"
bandit = "*"
pylint = "*"
pytest-timeout = "*"
virtualenv = "*"
freezegun = "*"
autopep8 = "*"
