[requires]
python_version = "3.6"

[packages]
pymongo = "*"
falcon = "*"
falcon-auth = "*"
PyJWT = "==1.7.1"
Jinja2 = "*"
PyYAML = "5.4.1"
requests_unixsocket = "*"
urllib3 = "*"
tinydb = "*"
pathlib = "*"
click = "*"
ldap3 = "*"
prometheus-client = "*"
python-dateutil = "*"
netifaces = "*"
pyparsing = "*"
waitress = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-data = "*"
pytest-mongodb = "*"
pytest-spec = "*"
python-mimeparse = "*"
pytest-sugar = "*"
bandit = "*"
pylint = "*"
pytest-timeout = "*"
shovel = "*"
virtualenv = "*"
freezegun = "*"
