// Here you can add other styles

// Icons would not center. Also button height would be a few px too big
.la, .lab, .lad, .lal, .lar, .las {
    display: inline;
}
.c-sidebar-nav-icon {
    font-size: 1.45em !important;
}
.b-tooltip:not([style*='transform']) { top: 0; }
