// Here you can add other styles

// Icons would not center. Also button height would be a few px too big
.la, .lab, .lad, .lal, .lar, .las {
    display: inline;
}

.la-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -.06em;
}
.c-sidebar-nav-icon {
    font-size: 1.45em !important;
}
.b-tooltip:not([style*='transform']) { top: 0; }

.pt-0_5,
.py-0_5 {
  padding-top: .125rem !important;
}

.pe-0_5,
.px-0_5 {
  padding-right: .125rem !important;
}

.pb-0_5,
.py-0_5 {
  padding-bottom: .125rem !important;
}

.ps-0_5,
.px-0_5 {
  padding-left: .125rem !important;
}

.multiline {
  white-space: pre-wrap;
}

.singleline {
  white-space: nowrap;
}

.breakline {
  white-space: break-spaces;
}

.pointer {
  cursor: pointer;
  user-select: none;
}

.grab {
  cursor: grab;
  user-select: none;
}

.grabbing {
  cursor: grabbing;
  user-select: none;
}

.badge-lg {
  padding: 0.3em 0.5em;
  font-size: 1em;
}

.toast-body-extra {
  background-color: rgba(0, 0, 0, 0.15);
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-bottom-right-radius: calc(0.25rem - 1px);
}

.dp__main .is-valid {
  background-position: right calc(1.875em + 0.1875rem) center;
}

.dp__main .is-invalid {
  background-position: right calc(1.875em + 0.1875rem) center;
}

$button-variants-custom: (
  tertiary: btn-color-map($tertiary, $tertiary),
  quaternary: btn-color-map($quaternary, $quaternary)
);

@each $state, $variant in $button-variants-custom {
  @include button-variant($state, $variant)
}

.btn-info, .btn-success, .btn-quaternary, .btn-danger {
  --cui-btn-color: #ffffff;
}

.btn-warning {
  --cui-btn-color: $gray-base;
}

.bg-warning {
  color: $gray-base;
}

.bg-tertiary {
  background-color: $tertiary !important;
}

.bg-quaternary {
  background-color: $quaternary !important;
}
