// Variable overrides

$theme-colors: (
  primary: #304ffe,
  secondary: #c4cfd4,
  success: #00c853,
  info: #2196f3,
  warning: #ffc107,
  danger: #f44336,
  light: #fafafa,
  dark: #212121,
  tertiary: #aa00ff,
  quaternary: #ff6d00
);
