---
tabs:
    -
        key: 'general'
        name: 'General'
        reload:
            auth_backends: ['local']
    -
        key: 'notifications'
        name: 'Notifications'
    -
        key: 'ldap_auth'
        name: 'LDAP'
        reload:
            auth_backends: ['ldap']
    -
        key: 'housekeeping'
        name: 'Housekeeping'

form:
    general:
        metrics_enabled:
            display_name: Metrics
            component: Switch
            description: 'Enable or disable metrics'
        local_users_enabled:
            display_name: Local Users
            component: Switch
            description: 'Enable or disable Local Users Authentication'
        anonymous_enabled:
            display_name: Anonymous Login
            component: Switch
            description: 'Enable or disable Anonymous login'
        default_auth_backend:
            display_name: Default Authentication
            component: AuthBackend
            description: 'Default Authentication backend'
        ok_severities:
            display_name: OK Severities
            component: Field
            description: Space separated severities used to automatically close an alert (case incensitive)
    notifications:
        notification_retry:
            display_name: Retries
            component: Duration
            description: 'Number of times to retry sending a failed notification'
            options:
                zero_label: 'No retry'
                negative_label: 'No retry'
                custom_label: ' time(s)'
            default_value: 3
        notification_freq:
            display_name: Frequency
            component: Duration
            description: 'Time to wait before sending the next notification'
            options:
                zero_label: 'Immediate'
                negative_label: 'Immediate'
            default_value: 60
    ldap_auth:
        enabled:
            display_name: LDAP Authentication
            component: Switch
            description: 'Enable or disable LDAP Authentication'
        sweb_title_con: 'Connection settings'
        host:
            display_name: Host
            component: String
            description: 'LDAP host (eg. ldaps://example.com)'
        port:
            display_name: Port
            component: Number
            options:
                min: 1
            description: 'LDAP server port (389 by default if no SSL, 636 if SSL is enabled)'
        bind_dn:
            display_name: Bind DN
            component: String
            description: 'Distinguished name to bind to the LDAP server (eg. CN=john.doe,OU=users,DC=example,DC=com)'
        bind_password:
            display_name: Bind DN password
            component: Password
            description: 'Password for the Bind DN user'
        base_dn:
            display_name: User base DN
            component: String
            description: 'LDAP users location. Multiple DNs can be added if separated by semicolons'
        sweb_title_user: 'User settings'
        user_filter:
            display_name: User base filter
            component: String
            description: 'LDAP search filter for the base DN (eg. (objectClass=posixAccount))'
        display_name_attribute:
            display_name: Display name attribute
            component: String
            description: 'User attribute that displays the user real name. Usually "cn" or "displayName"'
        email_attribute:
            display_name: Email attribute
            component: String
            description: 'User attribute that displays the user email adress. Usually "mail"'
        sweb_title_group: 'Group settings'
        member_attribute:
            display_name: Member attribute
            component: String
            description: 'Member attribute that displays groups membership. Usually "memberof"'
        group_dn:
            display_name: Group base DN
            component: String
            description: 'Base DN used to filter out groups. Will default to the User base DN. Multiple DNs can be added if separated by semicolons'
        #test_connection:
        #    display_name: Test LDAP
        #    component: Button
        #    description: 'Test LDAP connection'
    housekeeping:
        trigger_on_startup:
            display_name: Trigger on Startup
            component: Switch
            description: 'Trigger on startup'
        record_ttl:
            display_name: Alerts TTL
            component: Duration
            description: 'Assign a time to live for any new alert. -1 for no expiration'
            options:
                zero_label: 'Do not keep alerts'
                negative_label: 'No expiration'
            default_value: 172800
        cleanup_alert:
            display_name: Cleanup timed out alerts
            component: Duration
            description: 'Execute a cleanup job every X seconds. <=0 for no cleanup'
            options:
                negative_label: 'No cleanup'
            default_value: 300
        cleanup_comment:
            display_name: Cleanup orphaned comments
            component: Duration
            description: 'Execute a cleanup job every X seconds. <=0 for no cleanup'
            options:
                negative_label: 'No cleanup'
            default_value: 86400
        cleanup_snooze:
            display_name: Cleanup expired snooze filters
            component: Duration
            description: 'Cleanup expired snooze filters that are X seconds old (job executed once at 00:00AM). <=0 for no cleanup'
            options:
                negative_label: 'No cleanup'
            default_value: 259200
        cleanup_notification:
            display_name: Cleanup expired notifications
            component: Duration
            description: 'Cleanup expired notifications that are X seconds old (job executed once at 00:00AM). <=0 for no cleanup'
            options:
                negative_label: 'No cleanup'
            default_value: 259200
        cleanup_audit:
            display_name: Cleanup expired audit logs
            component: Duration
            description: 'Cleanup expired audit logs that are X seconds old (job executed once at 00:00AM). <=0 for no cleanup'
            options:
                negative_label: 'No cleanup'
            default_value: 2419200
