# vim:set softtabstop=2 shiftwidth=2 tabstop=2 expandtab:
---
name: Snooze-server testing

on:
  pull_request:
    branches: [ master ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: '3.6'
          architecture: 'x64'

      - name: Install Pipenv
        run: |
          python -m pip install pipenv wheel

      - name: Cache Pipenv
        uses: actions/cache@v1
        with:
          path: ~/.local/share/virtualenvs
          key: "{{ runner.os }}-pipenv-{{ hashFIles('**/Pipfile.lock') }}"

      - name: Install dependencies
        if: steps.cache-pipenv.outputs.cache-hit != 'true'
        run: |
          pipenv install --deploy --dev

      - name: Running Pytest
        run: |
          pipenv run pytest
